#main_checkin {
    background-color: #004570;
    div {
        #texto_checkin {
            padding: 0px 30px;
            #titulo_checkin {
                font-weight: 300;
                text-align: center;
                color: white;
            }
            #subtitulo_checkin {
                font-family: "stag";
                font-weight: 400;
                text-align: center;
                color: #94BACD;
            }
        }
        #formulario_checkin {
            padding: 0px 30px;
            div {
                padding: 15px;
                label {
                    color: white;
                    font-size: 18px;
                }
                input {
                    border-radius: 5px;
                    border: none;
                    width: 100%;
                    padding: 5px;
                }
                #buscar_reservacion {
                    color: white;
                    border-radius: 5px;
                    border: none;
                    width: 100%;
                    padding: 5px;
                    background-color: #0086B5;
                }
            }
        }
    }
}